/* body {
  background-color: antiquewhite;
}

.inline {
  display: inline;
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
}

.block {
  display: block;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px;
} */